.container{
    display: flex;
    flex-direction: column;
    background-color: navy;
    border: 3px solid blue;
    height: 500px;
    width: 400px;
    border-radius: 10%;
}


.row-1{
    display: flex;
    height: 70px;
    width: 320px;
    margin-left: 10%;
    margin-top: 8%;
}

.display{
    background-color: white;
    border-radius: 10%;
    height: 80px;
    width: 300px;
    margin-left: 5%;
}

.row-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    justify-content: space-around;
    margin-top: 20%;
}

.row-3{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;
    justify-items: center; */
    justify-content: space-around;
    margin-top: 10%;
    margin-right: 25%;
}

.button-6{
    flex-grow: 1;
    margin-left: 85%;
    margin-top: 1%;
    width: 50px;
    height: 50px;
    border: 20px;
    border-color: black;
}

.row-4{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;
    justify-items: center; */
    justify-content: space-around;
    margin-top: 1%;
    margin-right: 25%;
}

.row-5{
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-items: center; */
    justify-content: space-around;
    margin-top: 10%;
    margin-right: 25%;
}

.row-6{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap;
    justify-items: center; */
    justify-content: space-around;
    margin-top: 10%;
    margin-right: 25%;
}